body
  padding-top: 64px

.starter-template
  padding: 40px 15px
  text-align: center

.navbar
  background: #fff
  box-shadow: 0 0 2px rgba(0,0,0,0.1)
  border: 0
  border-bottom: 1px solid #ddd

/* logo */
.logo,.logo:hover
  background: url("../img/logo.png") no-repeat center center
  background-size: 48px auto
  width: 50px
  height: 50px
  margin-right: 25px
  display: inline-block
  overflow: hidden
  transition: all 0.5s

.logo:hover
  opacity: 0.8


.navbar-header
  height: 50px


.navbar-nav a
  color: #888
  transition: all 0.3s

.nav li a
  padding-left: 25px
  padding-right: 25px
.nav li.active a
  border-bottom: 4px solid #888
  height: 50px



/* button */
.btn-mwm,.btn-mwm:hover
  background: #21d992
  border: 0
  color: #fff
  transition: all 0.3s
  outline: none

.btn-mwm:hover
  background: #11be7b


/* 容器 */
.white-container, .black-container
  background: #fff
  border-radius: 4px
  padding: 20px
  min-height: 500px
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)

.black-container
  background: #666
  color: #fff


/* product*/
a.Product,.a.Product:hover
  padding: 12px 10px
  border-bottom: 1px solid #eee
  display: block
  color: #666
  display: block
  transition: all 0.3s
a.Product:hover
  text-decoration: none
  background: #f8f8f8
.productList
  border-top: 1px solid #ddd
.ProductBoxOpacity
  opacity: 0.5
/* PreOrder */
.PreOrder
  position: absolute
  top: 100px
  left: 0
  z-index: 3000
  background: #fff
  width: 100%
  border: 1px solid #ccc
  border-radius: 4px
  padding: 10px
.Order
  transition: all 1s
